$heading-Dark: #6e6e6e;
$heading-Light: #cecece;

.theme-visits {
  .phone {
    .title {
      color: #b35d30;
    }
  }
  .tablet {
    .title {
      color: #e9c451;
    }
  }
}

.theme-impressions {
  .phone {
    .title {
      color: #335161;
    }
  }
  .tablet {
    .title {
      color: #86c7e4;
    }
  }
}

.theme-revenue {
  .phone {
    .title {
      color: #456722;
    }
  }
  .tablet {
    .title {
      color: #99cf5b;
    }
  }
}

.card-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto auto;
  border-bottom: 2px solid $heading-Light;
  min-height: 200px;
  min-width: 300px;
  padding: 8px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  align-self: center;
  justify-self: center;

  .title {
    color: $heading-Light;
  }

  .value {
    color: $heading-Dark;
    font-size: 20px;
  }
}

.device {
  align-self: self-end;

  .title {
    font-weight: bold;
  }

  .value {
    color: $heading-Light;
  }

  .perc {
    color: $heading-Dark;
  }
}

.phone {
  text-align: right;
}

.tablet {
  text-align: left;
}
